@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }
  #agreement-print-root, #agreement-print-root * {
    visibility: visible;
  }
  #agreement-print-root {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
